 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


 /* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 80%;
  margin: 40px auto;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  cursor: pointer;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}
/*--------------*/
button{
  width:100px;
  height: 30px;
  background: #f1356d;
  color: #fafafa;
  cursor: pointer;
}

button:hover{
  background: #f35786;
  color: #000000;
  width:90px;
  height: 25px;
}


/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details h3 {
  font-size: 17px;
  font-weight: normal;
}

.blog-details div {
  margin: 20px 0;
  text-align: justify;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}



/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

/*------------------------------------*/
.blog-list{
  max-width:600px;
  margin: auto;
}

/*----------- Author page -------------*/


.section-container {
  display: grid;
  grid-template-columns: 40% 1fr;
  max-width: 700px;
  margin: auto;
  justify-items: start;
  align-content: start;
  align-items: start;
  justify-content: center;
  gap: 20px; /* Optional: Adds space between the columns */
}
  
.author-list{
  margin: 20px;
  font-size: 20px;
  color: #f1356d;
  text-transform:uppercase;
  cursor: pointer;
}

.author-list:hover{
  color: #696566;
}

.author-list:active{
  color: #696566;
}

.author-blog-list h3{
  text-transform: capitalize;
}

.author-blog{
  margin-right: 100%;
}

@media (max-width: 600px) {

  .section-container {
    max-width: 95%;
  }

}